{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" autofocus name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input name="password" autocomplete="off" class="form-control mx-auto w-auto" placeholder="Password" type="text">
        </div>
        <div class="mb-3">
            <input name="confirmation" autocomplete="off" class="form-control mx-auto w-auto" placeholder="Confirm Password" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}